@table-cell: rgb(214, 239, 243);
@primary:#344955;
@primary-dark:#232F34;
@primary-light:rgba(145, 217, 233, 0.5);
@secondary:#F9AA33;
@table-background: #e9ecef;
@table-cell: rgb(214, 239, 243);
@table-cell-taken: rgb(212, 150, 69);
@backgorund-main-color: aliceblue;

.container {
    margin-top:15px;
}


#nav-main {
    background-image: url(../pictures/background.png);
    background-position: right bottom, left top;
    background-repeat: repeat;

}
