.container {
    margin-top:15px;
}

body {
    --primary:#344955;
    --primary-dark:#232F34;
    --primary-light:#4A6572;
    --secondary:#F9AA33;
    --table-background: #e9ecef;
    --table-cell: rgb(214, 239, 243);
    --table-cell-taken: rgb(212, 150, 69);
}