<link rel="stylesheet" href="/css/calendar/teachers.css">

{{> calendarNav }}
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each people as |person|}}
                        <tr>
                        <th scope="row">{{person.index}}.</th>
                        <td><a href="./teachers?index={{person.index}}&fullName={{person.fullName}}">{{person.fullName}}</a></td>
                        </tr>    
                    {{/each}}
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>