<link rel="stylesheet/less" type="text/css" href="/css/calendar/week.less" />
<script src="/scripts/calendar/calendarNav.js"></script>
<script src="/scripts/calendar/week.js"></script>
<div class="backgorund-main">
    
{{> calendarNav }}
<div class="container">
    <div class="row background-gradient">
        {{#if teacher}}
        <h3>Displaying calendar for: <span id="teacherElement">{{teacher}}</span>
        </h3>
        {{/if}}
    </div>
    <div class="row justify-content-center">       
        <form class="calendar-form">
            <div class="form-group">
                <div class="float-left">
                    <label for="date">Pick starting date</label>
                    <input type="date" id="date-picker" class="margin-right">
                </div>
                {{#if teacher}}
                <div class="form-group students-only float-right">
                    <label for="date">Subject:</label>
                    <input type="text" id="subject">
                    <button class="btn color-secondary hover-shadow" id="request" type="button" onclick="sendRequestForMeetings()">Request</button>
                </div>
                {{/if}}
                <div class="form-group teachers-only float-right">
                    <label for="date">Mark selected as available:</label>
                    <button class="btn color-secondary hover-shadow" id="mark" type="button" onclick="sendMarkAsAvailable()">Sync</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">       
        <form class="calendar-form">
        </form>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr id="header" class="table-active"></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
            <span class="page-link" onclick="previous()">Previous</span>
            </li>
            <li class="page-item">
            <span class="page-link" onclick="next()">Next</span>
            </li>
        </ul>
        </nav>
    </div>
</div>
</div>