<script src="/scripts/calendar/week.js"></script>
<link rel="stylesheet" href="/css/calendar/week.css">
<div class="calendar-picker">
</div>
<form class="calendar-form">
    <div class="form-group">
        <input type="date" id="startingDate">
        <button type="button" class="btn btn-primary" onclick="dateChanged()">Search</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr id="header" class="table-active"></tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>