<script src="/scripts/calendar/calendarNav.js"></script>
<script src="/scripts/calendar/week.js"></script>
<link rel="stylesheet" href="/css/calendar/week.css">

{{> calendarNav }}
<div class="container">
    <div class="row">
        {{#if teacher}}
        <h3>Displaying calendar for: {{teacher.fullName}}</h3>
        {{/if}}
    </div>
    <div class="row justify-content-center">       
        <form class="calendar-form">
            <div class="form-group">
                <label for="date">Pick starting date</label>
                <input type="date" id="date-picker" onchange="dateChanged()">
                <div class="form-group">
                    <label for="date">Subject:</label>
                    <input type="text" id="subject">
                    <button class="btn" id="request" type="button" onclick="sendRequestForMeetings()">Request</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">       
        <form class="calendar-form">
        </form>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr id="header" class="table-active"></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
            <span class="page-link" onclick="previous()">Previous</span>
            </li>
            <li class="page-item">
            <span class="page-link" onclick="next()">Next</span>
            </li>
        </ul>
        </nav>
    </div>
</div>