<script src="/scripts/calendar/calendarNav.js"></script>
<link href="/css//calendar/calendarNav.css" rel="stylesheet" type="text/css">
<ul class="nav nav-tabs" id="tabsNav">
  <li class="nav-item">
    <a class="nav-link" href="/calendar/week" name="week">Week</a>
  </li>
  <li class="nav-item students-only">
    <a class="nav-link" href="/calendar/teachers" name="teachers">Teachers</a>
  </li>
</ul>
