td {
    border: 1px solid black;
    background-color: var(--table-cell);
}

td:hover {
    background-color: rgb(97, 96, 94);
    cursor: pointer;
}

.disabled {
    cursor: default;
}

th {
    text-align: center;
    background-color: var(--table-background);
}

.reserved {
    background-color: rgb(74, 81, 175);
}
.taken {
    background-color: var(--table-cell-taken);
    border: 2px solid blue !important;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.color-secondary {
    background-color: var(--secondary);
}

.margin-right {
    margin-right: 10px;
}

.float-right {
    float: right;
}

.taken:hover {
    background-color: red;
    cursor: default;
}
.disabled:hover {
    background-color: var(--table-cell);
    cursor: default;
}
.disabled.taken:hover {
    background-color: var(--table-cell-taken);
    cursor: default;
}