td {
    border: 1px solid black;
    background-color: rgb(161, 241, 141);
}

td:hover {
    background-color: rgb(97, 96, 94);
}

th {
    text-align: center;
}

.reserved {
    background-color: rgb(54, 67, 240);
}
