@import "../style.less";

@headers-color:#E0E0E0;
@busy-cell:#616161;
@requestable-cell: #A5D6A7;
@requested-cell: #2E7D32;
@button-submit: #81D4FA;

/*

td {
    border: 1px solid black;
    background-color: @table-cell;

    &:hover {
        cursor: pointer;
    }

    &.free {
        cursor: not-allowed;
    }

    &.taken {
        background-color: @table-cell-taken;
        border: 2px solid blue !important;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        
        &:hover {
            background-color: rgb(104, 209, 104);
            cursor: pointer;
        }
    }

    &.reserved {
        background-color: rgb(74, 81, 175);
    }
    
    &.disabled {
        cursor: default;
    
        &:hover {
            background-color: @table-cell;
            cursor: default;
    
            &.taken {
                background-color: @table-cell-taken;
                cursor: default;
            }
        }
    }
}

th {
    text-align: center;
    background-color: @table-background;
}


.color-secondary {
    background-color: @secondary;
}

.margin-right {
    margin-right: 10px;
}

.float-right {
    float: right;
}

.backgorund-main {
    background-color: @backgorund-main-color;
}

.float-left {
    float: left;
}
*/
div {
    &.backgorund-main {
        background-color: @backgorund-main-color;
        height: -webkit-fill-available;
        font-family: sans-serif;
    }
}

form {
    &.calendar-form {
        width: -webkit-fill-available;
    }
}

h3 {
    margin-left: 25%;
}


td {
    text-align: center;
    background-color: white;

    &.clickable {
        cursor: pointer;
    }
    &.marked {
        background-color: gray; 
    }

    &.student {
        &.personal-view {
            &:hover {
                cursor: auto;
            }
            &.busy {
                background-color: @busy-cell;
                color: white;
            }
        }
    
        &.teacher-view {
            //disable if not busy
            
            &.busy {
                background-color: @requestable-cell;
                color: white;

                &.marked {
                    background-color: @requested-cell;
                    color: black;
                }
            }
        }
    }

    &.teacher {
        &.busy {
            background-color: @busy-cell;
            color: white;
        }
        &.available {
            background-color: white;

            &:hover {
                background-color: @requestable-cell;
            }
        }
        &.marked {
            background-color: @requested-cell;
            &:hover {
                background-color: @requested-cell;
            }
        }
    }
}

.table-responsive {
    margin: 0px 25px;
}

.quarter-time {
    border-bottom: 1px blue solid;
    border-top: 1px blue solid;
    height: 100%;
}

th, .time-column {
    text-align: center;
    background-color: @headers-color;
}

.color-submit {
    background-color: @button-submit;
}

.hover-shadow:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}