<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-10">
      <div class="jumbotron">
        <h1 class="display-4">{{ message }}</h1>
        <hr>
        <div class="dropdown" style="margin:15px">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Students
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{# each students as |student|}}
            <a class="dropdown-item">{{student.firstName}} {{ student.lastName }}</a>
          {{/each}}
          </div>
        </div>
        </div>
    </div>
  </div>
</div>